*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    gap: 55px;
    align-items: center;
    height: 70px;
    background-color: #49111c;
    color: #D8E2EE;
    border-bottom: 0.5px solid #ffffff;
    padding-left: 60px;
}
nav ul{
    display: flex;
    gap: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}
ul .underline {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
    color: #d8e2ee;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
 ul .underline::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: #d8e2ee;
    transition: width 0.3s ease-out;
  }
  
 ul .underline:hover::after {
    width: 100%;
  }
nav .mnav{
    font-size: 30px;
    font-family: fantasy;
    font-weight: 600;
    padding-left: 100px;
    padding: 25px;
    padding-top: 27px;
}
nav .rnav{
    display: flex;
    gap: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 320px;
}
nav .rnav #fr{
    opacity: 0.6;
}
video{
    opacity: 0.7;
    width: 100%;
    z-index: -2;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container1 .center{
    position: absolute;
    line-height: 120px;
    z-index: -1;
}
.container1 .center h1{
    color: #49111C;
    gap: 50px;
    font-size: 40px;
    font-family: SuisseIntl, helvetica, "sans-serif";
}
.container1 .center h1 span{
    color: #D8E2EE;
    font-size: 70px;
    font-family: fantasy;
}
.container1 .center h2{
    color: #49111C;
    font-family: SuisseIntl, helvetica, "sans-serif";
    font-size: 150px;
}
.container1 .center p{
    margin-top: 30px;
    line-height: 30px;
    color: #49111C;
    font-size: 30px;
}
.container1 .center button{
   border: 0.5px solid #49111C;
   height: 45px;
   width: 140px;
   padding: 12px;
   color: #d8e2ee;
   font-size: 11px;
   border: 0.2px solid #49111C;
   background-color: #49111C;
   border-radius: 20px;
   cursor: pointer;
}
.container2{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 200px;
    width: 100%;
    background-color: #49111C;
}
.container2 .imgc{
    height: 950px;
    width: 600px;
}
.container2 .vidc{
    height: 950px;
    width: 600px;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D8E2EE;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 70px;
    padding: 50px;
}
.container3 .txt h4{
    color: black;
    font-family: SuisseIntl, helvetica, "sans-serif";
    font-size: 60px;
    font-weight: 200;

}
.container3 .txt h3{
    color: black;
    font-family: SuisseIntl, helvetica, "sans-serif";
    font-size: 70px;
    font-weight: 200;
    padding-top: 20px;
    line-height: 100px;
}
.grids{
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 30px;  
    border: 1px solid black;
    padding: 70px;
    margin-top: 50px;
}
.grids .grid1 img{
    height: 400px;
}
.grids .grid2 img{
    height: 400px;
}
.grids .grid3 img{
    height: 400px;
}
.grids .grid4 img{
    height: 400px;
}
.grids .grid5 img{
    height: 400px;
}
.grids .grid6 img{
    height: 400px;
}
.container3 .shop{
    border-radius: 0;
    width: 100px;
    background-color: #D8E2EE;
    color: black;
    margin: 30px;
    cursor: pointer;
}
.shop:hover{
    cursor: pointer;
    background-color: #49111C;
    color: #D8E2EE;
}
#click:checked~nav ul{
    display: block;
}
nav label{
    display: none;
}
.container4{
    background-color: aliceblue;
    border-bottom: 1px solid black;
}
.container4 .a{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}
.container4 .b{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 100;
    gap: 40px;
    padding: 50px;
}
.container5{
    width: 100%;
    background-color: aliceblue;
    padding-bottom: 100px;
}
.cont1{
    width: 70%;
    margin-left: 100px;
    line-height: 60px;
}
.cont1 h3{
    font-size: 40px;
    padding-top: 100px;
}
.cont1 h2{
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 50px;
    line-height: 90px;
}
.cont2{
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.cont2 h5{
    font-size: 40px;
    padding-top: 60px;
}
.cont2 h3{
    font-size: 90px;
    font-weight: 100;
    padding: 20px;
    font-family: SuisseIntl, helvetica, "sans-serif";
}
.cont2 button{
    background-color: aliceblue;
    width: 170px;
    height: 50px;
    color: black;
    font-size: 12px;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 60px;
    cursor: pointer;
}
footer{
    background-color: #49111C;
    height: 30%;
    color: #D8E2EE;
    padding: 30px;
}
footer .f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D8E2EE;
    padding-top: 20px;
    font-size: 20px;
}
footer .f1 h1{
    font-size: 50px;
    font-family: fantasy;
    font-weight: 600;
}
footer .f2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-top: 50px;
}
footer .f2 .lf{
    display: flex;
    font-weight: 100;
    gap: 30px;
}

/* responsive */
@media screen and (max-width: 600px){
    nav label{
        display: block;
    }
    nav ul{
        display: none;
        position: absolute;
        top: 80px;
        background-color: #49111C;
        height: 20px;
        padding-bottom: 30px;
    }
    .lnav ul li{
        padding: 10px;
        position: absolute;
        left: 20px;
    }
}
#click{
    display: none;
}

@media screen and (max-width: 768px){
    nav {
      align-items: flex-start;
      height: auto;
      padding-left: 20px;
    }
    nav label i{
        padding-top: 50px;
    }
    .logo{
        padding-top: 35px;
    }
    nav .rnav {
      padding-left: 20px;
      padding-top: 20px;
      flex-direction: column;
      gap: 15px;
    }
  
    nav .mnav {
      padding-left: 0;
    }
    nav .mnav h1{
        font-size: 45px;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
      background-color: #49111C;
      padding-left: 0;
      margin-left: 0;
      gap: 10px;
    }
  }

  @media screen and (max-width: 768px){
    .container1 .center h1 {
      font-size: 16px;
    }
    .container1 .center{
        padding-top: 20px;
        line-height: 20px;
    }
  
    .container1 .center h1 span {
      font-size: 40px;
    }
    .container1 .center h2{
        color: #49111C;
        font-family: SuisseIntl, helvetica, "sans-serif";
        font-size: 45px;
        line-height:40px;
    }
  
    .container1 .center p {
        margin-top: 5px;
      font-size: 18px;
      line-height: 24px;
    }
    .container1 .center button{
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px){
    .grids {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .grids {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 768px){
    .cont1 {
      margin-left: 20px;
      width: 90%;
    }
  
    .cont1 h2 {
      font-size: 32px;
      line-height: 50px;
    }
  
    .cont1 h3 {
      font-size: 20px;
    }
    .cont2{
        line-height: 30px;
    }
    .cont2 h5{
        font-size: 20px;
    }
    .cont2 h3{
        font-size: 45px;
    }
  }

  @media screen and (max-width: 768px){
    .container2 {
      flex-direction: column;
      padding-top: 50px;
    }
  
    .container2 .imgc,
    .container2 .vidc {
      width: 100%;
      height: auto;
    }
    .container3 button{
        height: 35px;
    }
  }

  @media screen and (max-width: 768px){
    footer{
        padding: 10px;
    }
    footer .f1 h6,h1{
        font-size: 10px;
    }
    footer .f2 .lf h5{
        font-size: 10px;
    }
    footer .f2 .rf{
        font-size: 10px;
    }
  }