*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    gap: 55px;
    align-items: center;
    height: 70px;
    background-color: #49111c;
    color: #D8E2EE;
    border-bottom: 0.5px solid #ffffff;
    padding-left: 60px;
}
nav ul{
    display: flex;
    gap: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}
nav .mnav{
    font-size: 30px;
    font-family: fantasy;
    font-weight: 600;
    padding-left: 100px;
    padding-top: 25px;
}
nav .rnav{
    display: flex;
    gap: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 320px;
}
nav .rnav #fr{
    opacity: 0.6;
}
video{
    opacity: 0.7;
    width: 100%;
    z-index: -2;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container1 .center{
    position: absolute;
    line-height: 120px;
    z-index: -1;
}
.container1 .center h1{
    color: #49111C;
    gap: 50px;  
    height: 80%;
    width: 100%;
    font-size: 40px;
    font-family: SuisseIntl, helvetica, "sans-serif";
}
.container1 .center h1 span{
    color: #D8E2EE;
    font-size: 70px;
    font-family: fantasy;
}
.container1 .center h2{
    color: #49111C;
    font-family: SuisseIntl, helvetica, "sans-serif";
}
.container1 .center p{
    margin-top: 30px;
    line-height: 30px;
    color: #49111C;
    font-size: 30px;
}
button{
  
   border: 0.5px solid #49111C;
   height: 45px;
   width: 140px;
   padding: 12px;
   color: #d8e2ee;
   font-size: 11px;
   border: 0.2px solid #49111C;
   background-color: #49111C;
   border-radius: 20px;
}
.container2{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 150px;
    width: 100%;
    background-color: #49111C;
}
.container2 .imgc{
    height: 950px;
    width: 600px;
}
.container2 .vidc{
    height: 950px;
    width: 600px;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D8E2EE;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container3 .txt h4{
    color: black;
    font-family: SuisseIntl, helvetica, "sans-serif";
    font-size: 40px;

}
.container3 .txt h3{
    color: black;
    font-family: SuisseIntl, helvetica, "sans-serif";
    font-size: 70px;
    
}
.grids{
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 30px;  
}
.grids .grid1 img{
    height: 400px;
}
.grids .grid2 img{
    height: 400px;
}
.grids .grid3 img{
    height: 400px;
}
.grids .grid4 img{
    height: 400px;
}
.grids .grid5 img{
    height: 400px;
}
.grids .grid6 img{
    height: 400px;
}
.container3 .btn{
    border-radius: 0;
    width: 100px;
    background-color: #D8E2EE;
    color: black;
}
#click:checked~nav ul{
    display: block;
}
nav label{
    display: none;
}
@media screen and (max-width: 600px){
    nav label{
        display: block;
    }
    nav ul{
        display: none;
        position: absolute;
        top: 80px;
       
        background-color: red;
        width: 100%;
        
    }
    .lnav ul li{
        padding: 10px;
        position: absolute;
        left: 20px;
        background-color: red;
    }
}
#click{
    display: none;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-top: 0.5px solid #49111C;
    background-color: #D8E2EE;
}
footer h5{
    font-size: 40px;
}
@media screen and (max-width:400px) and (max-width:750px){
    
}